.navbar-brand{
    background: url('../images/sprites.png');
    display: inline-block;
    width:130px;
    height: 30px;
    background-position: 0 -380px; 
}
#section1{
    background: url('../images/natureimage.jpg');
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#section1 .bg-light{
    background: none !important;
}
#displayText{
    color: white;
    text-align: center;
    padding-top: 70px;
}
.searchIcon{
    background: url('../images/sprites.png');
    height: 20px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: -172px 0px;
    position: relative;
    z-index: 9999;
    display: inline-flex;
    left: -350px;
    top:39px;
}
#search{
    padding: 10px 20px;
}
.select{
    background-repeat: no-repeat;
    position: relative;
    right: -270;
    bottom: 30px;
    float: right;
    border: none;
}
.text{
    display: inline-block;
}
.select1:hover:after{
    display: block;
}
.bottom{
    margin-top: 120px;
    color:whitesmoke;
}